<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
  {{#each books}}
  <li>
    <a href="/books/{{this._id}}">{{this.title}}</a> -
    <a href="/book/edit?book_id={{this._id}}" class="edit-button">EDIT</a> - 
    <a href="/book/delete/{{this._id}}" class="edit-button">DEL</a>
  </li>
  {{/each}}
</ul>

<div id="map"></div>